// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// FontAwesome
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~@fortawesome/fontawesome-free/css/regular.css';

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background: #888;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-sans-serif-headers !important;
}

img{
    max-width: 100%;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.hud-cover {
    background: rgba(0, 0, 0, 0.7);

    h1, h3 {
        text-align: center;
    }

    h1 {
        font-size: 55px;

        @media(max-width: 767px) {
            font-size: 30px;
        }
    }

    h3 {
        @media(max-width: 767px) {
            font-size: 16px;
        }
    }
}
