.listing {
  height: 70vh;
  overflow-y: auto;
}
.listing .header {
  font-weight: bold;
}

.profile-dropdown {
  width: 32px;
  height: 32px;
  background: #154ea4;
  color: white;
  text-transform: uppercase;
}
