// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import '../variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// FontAwesome
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~@fortawesome/fontawesome-free/css/regular.css';

// Quill
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';

.ql-editor{
    height: 700px;
}

.listing {
    height: 70vh;
    overflow-y: auto;

    .header {
        font-weight: bold;
    }
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background: #888;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}
